/* Modal */
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;

  .modal {
    width: 500px;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0 6px 24px 0, rgba(0, 0, 0, 0.08) 0 0 0 1px;

    input {
      margin: 11px 0;
      padding: 12px 16px;
      border-radius: 12px;
      border: 1.5 solid rgb(230, 232, 236);
    }

    form {
      display: flex;
      flex-direction: column;
    }

    label {
      font-size: 13px;
    }

    .form-title-container {
      display: flex;
      justify-content: space-between;

      button {
        border: none;
        background-color: transparent;

        &:active {
          color: rgb(255, 50, 50);
        }
      }
    }
  }
}
