@import "../../../src/variables.scss";

.list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: rgba(0, 0, 0, 0.123) 1px solid;

  .moment-container {
    margin-left: 27px;
  }

  .create {
    border: 1.5px solid $blue;
    color: $blue;
    text-transform: uppercase;

    &:hover {
      background-color: $blue;
      color: $white;
    }

    &:active {
      border: 1.5px solid $blue;
      color: $white;
      background-color: $lightBlue;
    }
  }
}
